:root {
  --color-light: #f2ebdc;
  --color-surface: #ffffff;

  --color-primary: #0a4040;
  --color-primary-light: #0a4f4f;

  --color-text: #1a1a1a;
  --color-text-muted: #555;
  --color-text-accent: var(--color-light);

  --color-accent: #d97925;

  --grad-main: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-primary-light)
  );

  --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  --border-soft: 1px solid var(--color-text);
  --border-radius: 10px;
}

[data-theme="dark"] {
  --color-light: #0e1414;
  --color-surface: #151f1f;

  --color-primary: #0f6b6b;
  --color-primary-light: #128080;

  --color-text: #e6e6e6;
  --color-text-muted: #b5b5b5;

  --color-accent: #f29f4b;

  --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.bg-app-light {
  background: var(--color-light);
}

.text-app-light {
  color: var(--color-light);
}

.bg-primary-custom {
  background: var(--grad-main);
}

.bg-accent {
  background: var(--color-accent);
}

.text {
  color: var(--color-text);
}

.font-big {
  font-size: 3em;
}

.font-display {
  font-size: 5em;
}

.text-bold {
  font-weight: 700;
}
